<h2>Test your knowledge</h2>
<div>
    <label for="trivia_difficulty">Select Difficulty: </label>
    <select id="trivia_difficulty" {{on "change" this.updateDifficulty}}>
        <option value="">Any Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
    <br>
    <label for="trivia_category">Select Category: </label>
    <select id="trivia_category" {{on "change" this.updateCategory}}>
        <option value="">Any Category</option>
        {{#each @model.trivia_categories as |category|}}
        <option value={{category.id}}>{{category.name}}</option>
        {{/each}}
    </select>
    <br>
    <button type="submit" {{on "click" this.startQuiz}}>Start</button>
</div>